Day1/Day1_html/views/index.html
<!DOCTYPE html><html lang="en"><head><title>About</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"><link rel="stylesheet" href="../../css/style.css"></head><body><header class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="index.html"><strong>Code</strong>Camp<span style="color: #73e48d;">#28</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarToggler"><ul class="navbar-nav mr-auto"><li class="nav-item active"><a class="nav-link" href="index.html">About</a></li><li class="nav-item"><a class="nav-link" href="skill.html">Skill</a></li><li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li><li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li></ul></div></header><div class="container"><h1 class="text-center mt-5 mb-5">About Me</h1><div class="img-box"><img class="border mx-auto my-auto" src="../../assets/blackdot.jpg" alt="avatar"></div><div class="mt-5 mx-3 my-3 mb-5"><p><strong>Lorem ipsum,</strong>dolor sit amet consectetur adipisicing elit. Blanditiis adipisci ullam eligendi voluptatem maiores aliquid optio consequuntur officia aliquam, itaque minus quo perferendis fugiat a aperiam quibusdam maxime ipsum temporibus!</p><hr></div></div><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script></body></html>

Day1/Day1_html/views/index.pug
doctype html
html(lang="en")
  head
    title About
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='../../css/style.css')
  body
    header.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='index.html')
        strong Code
        | Camp
        span(style='color: #73e48d;') #28
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggle', aria-expanded='false', aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarToggler.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='index.html') About
          li.nav-item
            a.nav-link(href='skill.html') Skill
          li.nav-item
            a.nav-link(href='contact.html') Contact
          li.nav-item
            a.nav-link(href='portfolio.html') Portfolio

    .container
      h1.text-center.mt-5.mb-5 About Me
      .img-box
        img.border.mx-auto.my-auto(src='../../assets/blackdot.jpg', alt='avatar')
      .mt-5.mx-3.my-3.mb-5
        p
          strong Lorem ipsum,
          | dolor sit amet consectetur adipisicing elit. Blanditiis adipisci ullam eligendi voluptatem maiores aliquid optio consequuntur officia aliquam, itaque minus quo perferendis fugiat a aperiam quibusdam maxime ipsum temporibus!
        hr
    
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
