Day1/Day1_html/views/portfolio.pug
doctype html
html(lang="en")
  head
    title Portfolio
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='../../css/style.css')
  body
    header.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='index.html')
        strong Code
        | Camp
        span(style='color: #73e48d;') #28
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarToggler.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='index.html') About
          li.nav-item
            a.nav-link(href='skill.html') Skill
          li.nav-item
            a.nav-link(href='contact.html') Contact
          li.nav-item.active
            a.nav-link(href='portfolio.html') Portfolio

    nav.navbar.navbar-light.mb-5
      .input-group.input-group-sm.mb-3
        a.navbar-brand.small-text(href='#')
          img(src='../../assets/box.svg', width='28', height='28')
          | My Applications
        input.col-sm-3.form-control.ml-auto(type='text', placeholder='Search Product')
        .input-group-append.mr-2
          button.btn.btn-outline-primary(type='button') Go
        button.btn.btn-sm.btn-outline-success(type='button') Add new

    .container-fluid.portf-img
      .row
        .col-md-6.pt-4.mb-5
          .col-md-6.float-left.text-center
            img.shadow-sm.p-0.mb-5.bg-white.rounded(src='../../assets/ls.png')
          .col-md-6.float-left.mt-3.portf-text
            h3 Work #1
            ul
              li Little Stitch Website
              li Description
                ul
                  li Design & Development
                  li
                    a(href='https://littlestitch.shop', target='_blank') Link to Website
        .col-md-6.pt-4.mb-5
          .col-md-6.float-left.text-center
            img.shadow-sm.p-0.mb-5.bg-white.rounded(src='../../assets/knit.png')
          .col-md-6.float-left.mt-3.portf-text
            h3 Work #2
            ul
              li Knit Aoki Website
              li Description
                ul
                  li Design & Development
                  li
                    a(href='http://knit-aoki.com', target='_blank') Link to Website
        .col-md-6.pt-4.mb-5
          .col-md-6.float-left.text-center
            img.shadow-sm.p-0.mb-5.bg-white.rounded(src='../../assets/petite.png')
          .col-md-6.float-left.mt-3.portf-text
            h3 Work #3
            ul
              li Petite Laine Website
              li Description
                ul
                  li Design & Development
                  li
                    a(href='#') Comming Soon!
        .col-md-6.pt-4.mb-5
          .col-md-6.float-left.text-center
            img.shadow-sm.p-0.mb-5.bg-white.rounded(src='../../assets/black-cat.jpg')
          .col-md-6.float-left.mt-3.portf-text
            h3 Work #4
            ul
              li Black Cat
              li Description
                ul
                  li -
                  li
                    a(href='#') BDD
        .col-md-6.pt-4.mb-5
          .col-md-6.float-left.text-center
            img.shadow-sm.p-0.mb-5.bg-white.rounded(src='../../assets/black-dog.jpg')
          .col-md-6.float-left.mt-3.portf-text
            h3 Work #5
            ul
              li Black Dog
              li Description
                ul
                  li -
                  li
                    a(href='#') BDD
        .col-md-6.pt-4.mb-5
          .col-md-6.float-left.text-center
            img.shadow-sm.p-0.mb-5.bg-white.rounded(src='../../assets/blackdot.jpg')
          .col-md-6.float-left.mt-3.portf-text
            h3 Work #6
            ul
              li Blackdotdev_
              li Description
                ul
                  li -
                  li
                    a(href='#') BDD

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')

Day1/Day1_html/views/portfolio.html
<!DOCTYPE html><html lang="en"><head><title>Portfolio</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"><link rel="stylesheet" href="../../css/style.css"></head><body><header class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="index.html"><strong>Code</strong>Camp<span style="color: #73e48d;">#28</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarToggler"><ul class="navbar-nav mr-auto"><li class="nav-item"><a class="nav-link" href="index.html">About</a></li><li class="nav-item"><a class="nav-link" href="skill.html">Skill</a></li><li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li><li class="nav-item active"><a class="nav-link" href="portfolio.html">Portfolio</a></li></ul></div></header><nav class="navbar navbar-light mb-5"><div class="input-group input-group-sm mb-3"><a class="navbar-brand small-text" href="#"><img src="../../assets/box.svg" width="28" height="28">My Applications</a><input class="col-sm-3 form-control ml-auto" type="text" placeholder="Search Product"><div class="input-group-append mr-2"><button class="btn btn-outline-primary" type="button">Go</button></div><button class="btn btn-sm btn-outline-success" type="button">Add new</button></div></nav><div class="container-fluid portf-img"><div class="row"><div class="col-md-6 pt-4 mb-5"><div class="col-md-6 float-left text-center"><img class="shadow-sm p-0 mb-5 bg-white rounded" src="../../assets/ls.png"></div><div class="col-md-6 float-left mt-3 portf-text"><h3>Work #1</h3><ul><li>Little Stitch Website</li><li>Description<ul><li>Design & Development</li><li><a href="https://littlestitch.shop" target="_blank">Link to Website</a></li></ul></li></ul></div></div><div class="col-md-6 pt-4 mb-5"><div class="col-md-6 float-left text-center"><img class="shadow-sm p-0 mb-5 bg-white rounded" src="../../assets/knit.png"></div><div class="col-md-6 float-left mt-3 portf-text"><h3>Work #2</h3><ul><li>Knit Aoki Website</li><li>Description<ul><li>Design & Development</li><li><a href="http://knit-aoki.com" target="_blank">Link to Website</a></li></ul></li></ul></div></div><div class="col-md-6 pt-4 mb-5"><div class="col-md-6 float-left text-center"><img class="shadow-sm p-0 mb-5 bg-white rounded" src="../../assets/petite.png"></div><div class="col-md-6 float-left mt-3 portf-text"><h3>Work #3</h3><ul><li>Petite Laine Website</li><li>Description<ul><li>Design & Development</li><li><a href="#">Comming Soon!</a></li></ul></li></ul></div></div><div class="col-md-6 pt-4 mb-5"><div class="col-md-6 float-left text-center"><img class="shadow-sm p-0 mb-5 bg-white rounded" src="../../assets/black-cat.jpg"></div><div class="col-md-6 float-left mt-3 portf-text"><h3>Work #4</h3><ul><li>Black Cat</li><li>Description<ul><li>-</li><li><a href="#">BDD</a></li></ul></li></ul></div></div><div class="col-md-6 pt-4 mb-5"><div class="col-md-6 float-left text-center"><img class="shadow-sm p-0 mb-5 bg-white rounded" src="../../assets/black-dog.jpg"></div><div class="col-md-6 float-left mt-3 portf-text"><h3>Work #5</h3><ul><li>Black Dog</li><li>Description<ul><li>-</li><li><a href="#">BDD</a></li></ul></li></ul></div></div><div class="col-md-6 pt-4 mb-5"><div class="col-md-6 float-left text-center"><img class="shadow-sm p-0 mb-5 bg-white rounded" src="../../assets/blackdot.jpg"></div><div class="col-md-6 float-left mt-3 portf-text"><h3>Work #6</h3><ul><li>Blackdotdev_</li><li>Description<ul><li>-</li><li><a href="#">BDD</a></li></ul></li></ul></div></div></div></div><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script></body></html>
